/* ================================================ */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a26d7;
  font-family: "Helvetica", Arial, sans-serif;
  margin: 0;
}
panel {
  background-color: #FFF;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  padding: 48px;
}
display {
  width: 100%;
  text-align: center;
}
h1 {
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  font-size: 54px;
  margin-top: 0;
  font-weight: 300;
}
button {
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #dedede;
  padding: 16px;
  position: relative;
  transition: all 300ms;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  outline: none;
}
button[disabled] {
  opacity: 0.3;
}
button + button {
  margin-left: 16px;
}
button:hover:not( [disabled] ) {
  border-color: #737373;
}
button span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
}
button.active {
  color: #1aed6f;
  animation: pulse 1200ms cubic-bezier(0, 0.97, 0.97, 1) infinite;
  border-width: 6px;
  border-color: #1aed6f !important;
}
button.play {
  font-size: 24px;
  width: 80px;
  height: 80px;
}
button.play:not(.active) span {
  transform: translate(-42%, -50%);
}
saved {
  display: block;
  width: 100%;
  text-align: left;
  list-style-type: none;
  margin: 32px 0 0;
  padding: 0;
  max-height: 250px;
  overflow: auto;
}
view.saved:empty {
  display: none;
}
save {
  padding: 16px 0;
  display: block;
  font-weight: 300;
  color: #737373;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #dedede;
}
save:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
save strong {
  display: inline-block;
  margin-right: 8px;
  color: #1aed6f;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #ffffff, 0 0 0 0 #1aed6f;
  }
  100% {
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 14px rgba(26, 237, 111, 0);
  }
}